@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'IBM Plex Serif', serif;
}

.accordion-button:focus{
    background-color: white;
    color: green;
}

.img-property{
    object-fit: contain;
}